@media only screen and (max-width: 1200px){
    .container{
        padding: 0 12px;
    }
    .d_flex_container{
        flex-direction: column;
        align-items: center;
    }
    .tools_container .information{
        padding-left: 10px;
        max-width: 45%;
    }
    .footer_box{
        padding: 0 10px;
    }}

@media only screen and (max-width: 850px){
    header nav li{
        margin-left: 15px;
    }
    .information h4{
        font-size: 10px;
    }
    .information h3{
        font-size: 26px;
    }
    .information p{
        font-size: 12px;
    }
    .information a{
        font-size: 14px;
    }
    .information a:before{
        width: 15px;
        height: 20px;
        content: "";
        background-color: black;
        border-radius: 50%;
    }
    .past_clients .clients_logos{
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }}

@media only screen and (max-width: 770px){
    header nav li{
        display: none;
    }
    header nav li:last-child{
        display: unset;
    }
    .menu_bar{
        display: block;
        height: 30px;
        width: 30px;
    }
    .tools_container .information{
        overflow: visible;
        max-width: 65%;
        z-index: 1;
    }
    .footer_second form{
        height: 40px;
    }
    .the_gear_cage .banner_we_use{
        width: 30%;
    }
    .first_col{
        max-width: 40%;
    }
    .footer_second h5{
        margin-bottom: 15px;
        text-align: center;
    }
    .footer_second{
        flex-direction: column;
    }
    .footer_second div{
        padding-right: 0;
    }
    .footer_second form{
        align-self: center;
        width: 90%;
    }}

@media only screen and (max-width: 580px){
    footer{
        padding: 20px 0;
    }
    .footer_third{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
    .footer_third p{
        font-size: 10px;
    }
    .footer_first{
        flex-direction: column;
        align-items: center;
    }
    .first_col{
        max-width: 300px;
        margin-bottom: 20px;
        width: 100%;
        align-items: center;
    }
    .first_col p{
        text-align: center;
    }}

@media only screen and (max-width: 370px){
    .photo_section{
        padding-left: 10px;
    }
    .past_clients h5{
        font-size: 20px;
    }
    .help{
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .help h4{
        font-size: 30px;
    }
    .help h5{
        font-size: 20px;
    }
    .help a{
        font-size: 14px;
    }
    .help a:before{
        width: 15px;
        height: 20px;
        content: "";
        background-color: black;
        border-radius: 50%;
    }
    .second_col{
        column-gap: 30px;
    }
    .first_col p{
        font-size: 11px;
    }
    .second_col ul li a{
        font-size: 12px;
    }}

@media only screen and (max-width: 360px){
    header nav ul li:last-of-type a{
        border-radius: 14px;
        padding: 5px 10px;
        font-size: 12px;
    }
    .logo{
        width: 75%;
        height: 75%;
    }
    .position_items li:before {
        margin-right: 3px;
    }
    .what_we_do .d_flex_container article .description p{
        font-size: 10px;
    }
    .what_we_do .d_flex_container article .description a{
        font-size: 14px;
    }
    .what_we_do .d_flex_container article .description a:before{
        width: 10px;
        height: 20px;
        content: "";
        background-color: black;
        border-radius: 50%;
        padding-right: 10px;
    }}
